/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.subtitle {
	color: #BBB;
	font-style: italic;
	font-weight: 300;
	margin-top: -4px;
}

.job-title {
	font-weight: 300;
}

.job-desc {
	font-size: 17px;
	font-style: italic;
	color: #AAA;
}

.alert-hide{
	display: none;
}

.navbar-user{
	float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    text-align: right;
    color: #ffffff;
}

.navbar-logout{
	color: #9d9d9d;
}

.navbar-logout :hover{
	color: #FFF;
	text-decoration: none;
}

.action{
	float: right;
    font-size: 18px;
}

.btn-new{
	float: right;
	margin-left: 5px
}

.filter-box {
	padding: 20px;
	display: none;
}